html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #e9eef7;
}


.sidebar {
    width: 230px;
    background: #2188ff;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 16px 0;
    cursor: pointer;
}

.main {
    margin-left: 230px;
    padding: 20px;
}

header {
    background: #f6a400;
    color: white;
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    border-radius: 6px;
}

.stats {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.stat-card {
    background: white;
    padding: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border-left: 5px solid #ff0000;
}


.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    font-size: 17px;
}

@media (max-width: 992px) {
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }
    .main {
        margin-left: 180px;
    }
}

@media (max-width: 576px) {
    .stats {
        grid-template-columns: 1fr;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    .main {
        margin-left: 0;
    }
}
