table,th, td{
    border: solid 2px black;
    border-collapse: collapse;
    color: yellow;
    
}
th{
    background-color: rgb(239, 21, 21);

}
td{
    background-color: rgb(51, 111, 207);
}