table,th,td{
    border: solid 2px black;
    border-collapse:collapse ;
}

th{
    background-color: chartreuse;
    color:crimson;
}

tr{
    background-color:lightgrey;
    color:darkviolet;
}

div{
    width: 400px;
    height: 400px;
    background: blue;
    /* display: flex; */
    gap: 10px;
    margin-top: 400px;
    padding: 20px;
}

@media (max-width: 576px) {
  div {
    background: lightblue;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  div {
    background: yellow;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  div {
    background: orange;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  div {
    background: green;
  }
}

.hello{
    border:solid  10px yellow;
    transform: translate(200px,250px);
    transform: skew(10deg);
}

#hi{
    border:solid 10px black;
    transform: rotate(30deg);
}

.bye{
    border: solid 10px red;
    transform: scale(2);
}

.hello:hover{
    background-color: red;
    cursor: pointer;
}

a:visited{
    background-color: green;
}

/*body{
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.h1{
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
}

.h2{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
    /* transition: all 1s ease-in; */
    animation: move 4s ease 1s infinite forwards;
}

/* @keyframes move {
    from{
        transform: translate(0px);
    }   
    to{
        transform: translate(500px);
    } 
} */

@keyframes move{
    0%{
        transform: translate(0px);
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg) translate(150px);
    }
    100%{
        transform: translate(500px);
    }
}

.box:hover{
    transform: rotate(360deg);
    background-color: burlywood;
}

.buffer{
    background-color: white;
    width: 200px;
    height: 200px;
    border-top: solid black 10px;
    border-radius: 50%;
    transform: rotate(720deg);
    animation: moves 1s ease-in-out 1s infinite forwards;
}

@keyframes moves{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}